@using System.Data

@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Windows Azure Test</title>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script>
        $(function () {
            $("#btn").click(function () {
                var name = $("#txt1").val();
                var password = $("#txt2").val();

                $.post("/Home/InsertData", { "name": name, "password": password }, function (data, status, jqxhr) {
                    var result = data.split('|');
                    if (result[0] === "ok") {
                        alert(result[1]);
                        window.location.href = "/Home/Index";
                    } else {
                        alert(result[1]);
                    }
                });
            });
        })
    </script>
</head>
<body>
    <div>
        <table border="1" style="border-collapse:collapse">
            <tr><td><input type="text" id="txt1" placeholder="请输入用户名" /></td></tr>
            <tr><td><input type="text" id="txt2" placeholder="请输入密码" /></td></tr>
            <tr><td style="text-align:center;"><input type="button" id="btn" value="添加" /></td></tr>
        </table>

        @ViewData["DataMsg"]   &nbsp;&nbsp;&nbsp;
        @ViewBag.DataMsg
        <hr />
        @ViewData["BagMsg"]   &nbsp;&nbsp;&nbsp;
        @ViewBag.BagMsg
        <hr />
        <table border="1" style="border-collapse:collapse">
            <thead>
                <tr>
                    <th>用户名</th>
                    <th>密码</th>
                </tr>
            </thead>
            <tbody>
                @{
                    DataTable dt = (DataTable)ViewData["dt"];
                    for (int i = 0; i < dt.Rows.Count; i++)
                    {
                        <tr>
                            <td>@dt.Rows[i]["UserName"]</td>
                            <td>@dt.Rows[i]["PassWord"]</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</body>
</html>
